In [121]:
import pandas as pd
import numpy as np
import re
import string

In [122]:
df1 = pd.read_csv('spam.csv')
df2 = pd.read_csv('spam_ham_dataset.csv')
df3 = pd.read_csv('Spam Email raw text for NLP.csv')

In [123]:
df1

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [124]:
df2

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [125]:
df3

,CATEGORY,MESSAGE,FILE_NAME
0,1,"Dear Homeowner,\n\n \n\nInterest Rates are at ...",00249.5f45607c1bffe89f60ba1ec9f878039a
1,1,ATTENTION: This is a MUST for ALL Computer Use...,00373.ebe8670ac56b04125c25100a36ab0510
2,1,This is a multi-part message in MIME format.\n...,00214.1367039e50dc6b7adb0f2aa8aba83216
3,1,IMPORTANT INFORMATION:\n\n\n\nThe new domain n...,00210.050ffd105bd4e006771ee63cabc59978
4,1,This is the bottom line. If you can GIVE AWAY...,00033.9babb58d9298daa2963d4f514193d7d6
...,...,...,...
5791,0,"I'm one of the 30,000 but it's not working ver...",00609.dd49926ce94a1ea328cce9b62825bc97
5792,0,Damien Morton quoted:\n\n>W3C approves HTML 4 ...,00957.e0b56b117f3ec5f85e432a9d2a47801f
5793,0,"On Mon, 2002-07-22 at 06:50, che wrote:\n\n\n\...",01127.841233b48eceb74a825417d8d918abf8
5794,0,"Once upon a time, Manfred wrote :\n\n\n\n> I w...",01178.5c977dff972cd6eef64d4173b90307f0
5795,0,"If you run Pick, and then use the ""New FTOC"" b...",00747.352d424267d36975a7b40b85ffd0885e

In [126]:
df1['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [127]:
df2['label'].value_counts()

ham     3672
spam    1499
Name: label, dtype: int64

In [128]:
df3['CATEGORY'].value_counts()

0    3900
1    1896
Name: CATEGORY, dtype: int64

In [129]:
1896+1499+747

4142

In [130]:
df1['Category'] = df1.Category.map({'ham':0, 'spam':1})
df1

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [131]:
df2.drop(['Unnamed: 0', 'label_num'], axis=1, inplace=True)
df2.rename(columns={'label': 'Category', 'text': 'Message'}, inplace=True)
df2['Category'] = df2.Category.map({'ham':0, 'spam':1})
df2

      Category                                            Message
0            0  Subject: enron methanol ; meter # : 988291\r\n...
1            0  Subject: hpl nom for january 9 , 2001\r\n( see...
2            0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3            1  Subject: photoshop , windows , office . cheap ...
4            0  Subject: re : indian springs\r\nthis deal is t...
...        ...                                                ...
5166         0  Subject: put the 10 on the ft\r\nthe transport...
5167         0  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168         0  Subject: calpine daily gas nomination\r\n>\r\n...
5169         0  Subject: industrial worksheets for august 2000...
5170         1  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [132]:
df3.drop(['FILE_NAME'], axis=1, inplace=True)
df3.rename(columns={'CATEGORY': 'Category', 'MESSAGE': 'Message'}, inplace=True)
df3

      Category                                            Message
0            1  Dear Homeowner,\n\n \n\nInterest Rates are at ...
1            1  ATTENTION: This is a MUST for ALL Computer Use...
2            1  This is a multi-part message in MIME format.\n...
3            1  IMPORTANT INFORMATION:\n\n\n\nThe new domain n...
4            1  This is the bottom line.  If you can GIVE AWAY...
...        ...                                                ...
5791         0  I'm one of the 30,000 but it's not working ver...
5792         0  Damien Morton quoted:\n\n>W3C approves HTML 4 ...
5793         0  On Mon, 2002-07-22 at 06:50, che wrote:\n\n\n\...
5794         0  Once upon a time, Manfred wrote :\n\n\n\n> I w...
5795         0  If you run Pick, and then use the "New FTOC" b...

[5796 rows x 2 columns]

In [133]:
df1_spam = df1[df1['Category'] == 1]
df2_spam = df2[df2['Category'] == 1]
df3_spam = df3[df3['Category'] == 1]

df1_ham = df1[df1['Category'] == 0]
df2_ham = df2[df2['Category'] == 0]
df3_ham = df3[df3['Category'] == 0]

In [134]:
df1_spam.count(), df2_spam.count(), df3_spam.count()

(Category    747
 Message     747
 dtype: int64, Category    1499
 Message     1499
 dtype: int64, Category    1896
 Message     1896
 dtype: int64)

In [135]:
df1_ham = df1_ham.iloc[0:747, :]
df2_ham = df2_ham.iloc[0:1499, :]
df3_ham = df3_ham.iloc[0:1896, :]

In [136]:
df_spam = pd.concat([df1_spam, df2_spam, df3_spam], axis=0)
df_spam

      Category                                            Message
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
5            1  FreeMsg Hey there darling it's been 3 week's n...
8            1  WINNER!! As a valued network customer you have...
9            1  Had your mobile 11 months or more? U R entitle...
11           1  SIX chances to win CASH! From 100 to 20,000 po...
...        ...                                                ...
1891         1  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Tr...
1892         1  <html>\n\n<HEAD> \n\n<TITLE>creditfix</TITLE> ...
1893         1  Hello:\n\n\n\nAre you satisfied with your ISP?...
1894         1  <html><HEAD><TITLE>creditfix</TITLE> \n\n</HEA...
1895         1  <HTML><HEAD></HEAD><BODY><b><FONT SIZE=3D4>In ...

[4142 rows x 2 columns]

In [137]:
df_ham = pd.concat([df1_ham, df2_ham, df3_ham], axis=0)
df_ham

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
6            0  Even my brother is not like to speak with me. ...
...        ...                                                ...
3787         0  Update of /cvsroot/spamassassin/spamassassin/m...
3788         0  \n\nFor anyone to fully bury global warming, t...
3789         0  URL: http://diveintomark.org/archives/2002/10/...
3790         0  \n\n\n\n>>>>> On Fri, 13 Sep 2002, "Tony" == T...
3791         0  John P. Looney stated the following on Thu, Au...

[4142 rows x 2 columns]

In [138]:
mail = pd.concat([df_spam, df_ham], axis=0)
mail

      Category                                            Message
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
5            1  FreeMsg Hey there darling it's been 3 week's n...
8            1  WINNER!! As a valued network customer you have...
9            1  Had your mobile 11 months or more? U R entitle...
11           1  SIX chances to win CASH! From 100 to 20,000 po...
...        ...                                                ...
3787         0  Update of /cvsroot/spamassassin/spamassassin/m...
3788         0  \n\nFor anyone to fully bury global warming, t...
3789         0  URL: http://diveintomark.org/archives/2002/10/...
3790         0  \n\n\n\n>>>>> On Fri, 13 Sep 2002, "Tony" == T...
3791         0  John P. Looney stated the following on Thu, Au...

[8284 rows x 2 columns]

In [139]:
# from sklearn.utils import shuffle
# mail = shuffle(mail, random_state=None)
mail.reset_index(inplace=True, drop=True)
mail

      Category                                            Message
0            1  Free entry in 2 a wkly comp to win FA Cup fina...
1            1  FreeMsg Hey there darling it's been 3 week's n...
2            1  WINNER!! As a valued network customer you have...
3            1  Had your mobile 11 months or more? U R entitle...
4            1  SIX chances to win CASH! From 100 to 20,000 po...
...        ...                                                ...
8279         0  Update of /cvsroot/spamassassin/spamassassin/m...
8280         0  \n\nFor anyone to fully bury global warming, t...
8281         0  URL: http://diveintomark.org/archives/2002/10/...
8282         0  \n\n\n\n>>>>> On Fri, 13 Sep 2002, "Tony" == T...
8283         0  John P. Looney stated the following on Thu, Au...

[8284 rows x 2 columns]

In [140]:
mail.to_csv('mail.csv', index=False)